<form id="omni-box" action="" method="post" accept-charset="utf-8">
	<fieldset>
		<legend></legend>
		
		<input type="text" placeholder="Enter a task name and hit Return" />
	</fieldset>

	<div class="submitCont">
		<input type="submit" value="Add to list!" />
	</div>
</form>

<form id="new-todo" class="todoList">
	<h2>Some todo</h2>
	<ul id="active-todo"></ul>
</form> <!-- /new-todo -->

<form id="completed-todo" class="todoList">
	<h2>Done!</h2>
	<ul id="done-todo"></ul>
</form> <!-- /new-todo -->

<!-- <h1>List</h1>
<p>Your list url: <strong><%= root_url %><%= list_path(@list.list_hash) %></strong></p>
<%= form_for @list, :url => list_path(@list.list_hash) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<div>
		<%= f.fields_for :list_items do |i| %>
			<p><%= i.label :title %>
			<%= i.text_field :title %>
			<%= i.label :status %>
			<%= i.check_box :status, {}, checked_value = "done", unchecked_value = nil %>
			<%= i.label :_destroy %>
			<%= i.check_box :_destroy %>
			</p>
		<% end %>
	</div>
	<%= f.submit %>
<% end %> -->